{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pybo</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
        <script defer src="{% static 'bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'simplemde.min.css' %}" />
        <script src="{% static 'simplemde.min.js' %}"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <link rel="stylesheet" href="{% static 'pybo/all.css' %}">
        <script src="https://kit.fontawesome.com/808db4166d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'global.css' %}">
        {% block style %} {% endblock %}
        
    </head>
    <body>
        {% block script %} {% endblock %}
        {% include "navbar.html" %}
        {% block content %} {% endblock %}
        
    </body>
</html>
